<h2 id="title">ember-dayjs-helpers</h2>
<h3>Ember template helpers based on <a href="https://day.js.org">day.js</a></h3>
<p>Today => {{ day-js }}</p>
<p>Format => {{ day-js '2019-01-25' 'DD-MM-YYYY'}}</p>
<p>Format => {{ day-js '2019-01-25' 'DD MMMM YYYY'}}</p>
<h3>Time from Now</h3>
<p>Today: {{this.today}} => {{ dayjs-from-now this.today }}</p>
<p>07 July 2019 => {{ dayjs-from-now '2019-07-11' }}</p>
<p>05 July 2020 => {{ dayjs-from-now '2020-07-05' }}</p>
<h3>Time from X</h3>
<p>Today: {{this.today}} => {{ dayjs-from this.today }}</p>
<p>05 July 2020 => {{ dayjs-from '2020-07-05' }}</p>
<p>25 July 2020 => {{ dayjs-from '2020-07-25' }}</p>
<h3>Time to Now </h3>
<p>Today: {{this.today}}  => {{ dayjs-to-now this.today }}</p>
<p>05 July 2020 => {{ dayjs-to-now '2020-07-05' }}</p>
<p>25 July 2020 => {{ dayjs-to-now '2020-07-25' }}</p>
<h3>Time to X </h3>
<p>Today: {{this.today}}  => {{ dayjs-to this.today }}</p>
<p>05 July 2020 => {{ dayjs-to '2020-07-05' }}</p>
<p>25 July 2020 => {{ dayjs-to '2020-07-25' }}</p>
<h3>Calendar </h3>
<p>Today: {{this.today}}  => {{ dayjs-calendar }}</p>
<p>Yesterday: {{this.yesterday}} => {{ dayjs-calendar this.yesterday }}</p>
<p>Tomorrow: {{this.tomorrow}} => {{ dayjs-calendar this.tomorrow }}</p>
<p>Last week: {{this.lastWeek}} => {{ dayjs-calendar this.lastWeek }}</p>
<p>Next week: {{this.nextWeek}} => {{ dayjs-calendar this.nextWeek }}</p>
<p>Last month: {{this.lastMonth}} => {{ dayjs-calendar this.lastMonth }}</p>
<p>Next month: {{this.nextMonth}} => {{ dayjs-calendar this.nextMonth }}</p>
<p>Last year: {{this.lastYear}} => {{ dayjs-calendar this.lastYear }}</p>
<p>Next year: {{this.nextYear}} => {{ dayjs-calendar this.nextYear }}</p>
<h3>Difference</h3>
<p>Last week - Today => {{ dayjs-diff from=this.lastWeek to=this.today unit='day'}} days</p>
<p>Next week - Today => {{ dayjs-diff from=this.nextWeek to=this.today unit='day'}} days</p>
<p>Last month - Today => {{ dayjs-diff from=this.lastMonth to=this.today unit='day'}} days</p>
<p>Next month - Today => {{ dayjs-diff from=this.nextMonth to=this.today unit='day'}} days</p>
<p>Last year - Today => {{ dayjs-diff from=this.lastYear to=this.today unit='month'}} months</p>
<p>Next year - Today => {{ dayjs-diff from=this.nextYear to=this.today unit='week'}} weeks</p>
