<p><code>Today => \{{ day-js }}</code></p>
<p>Today => {{ day-js }}</p>
<p><code>Format => \{{ day-js '2019-01-25' 'DD-MM-YYYY'}}</code></p>
<p>Format => {{ day-js '2019-01-25' 'DD-MM-YYYY'}}</p>
<p><code>Format => \{{ day-js '2019-01-25' 'DD MMMM YYYY'}}</code></p>
<p>Format => {{ day-js '2019-01-25' 'DD MMMM YYYY'}}</p>
