<h2>day-js</h2>
<p><code>Today => \{{ day-js }}</code></p>
<p>Today => {{ day-js }}</p>

<p><code>Format => \{{ day-js date='2019-01-25' format='DD-MM-YYYY'}}</code></p>
<p>Format => {{ day-js date='2019-01-25' format='DD-MM-YYYY'}}</p>

<p><code>Format => \{{ day-js date='2019-01-25' format='DD MMMM YYYY'}}</code></p>
<p>Format => {{ day-js date='2019-01-25' format='DD MMMM YYYY'}}</p>
