<h2>dayjs-from</h2>
<h3>Time from X</h3>
<p><code>Today: {{this.today}} => \{{ dayjs-from this.today }}</code></p>
<p>Today: {{this.today}} => {{ dayjs-from this.dayJs.today }}</p>

<p><code>05 July 2020 => \{{ dayjs-from '2020-07-05' }}</code></p>
<p>05 July 2020 => {{ dayjs-from '2020-07-05' }}</p>


<p><code>25 July 2020 => \{{ dayjs-from '2020-07-25' }}</code></p>
<p>25 July 2020 => {{ dayjs-from '2020-07-25' }}</p>