<h2>dayjs-from-now</h2>
<h3>Time from Now</h3>
<p><code>Today: \{{this.today}} => \{{ dayjs-from-now this.today }}</code></p>
<p>Today: {{this.today}} => {{ dayjs-from-now this.today }}</p>

<p><code>07 July 2019 => \{{ dayjs-from-now '2019-07-11' }}</code></p>
<p>07 July 2019 => {{ dayjs-from-now '2019-07-11' }}</p>

<p><code>05 July 2020 => \{{ dayjs-from-now '2020-07-05' }}</code></p>
<p>05 July 2020 => {{ dayjs-from-now '2020-07-05' }}</p>

<p><code>07 July 2019 => \{{ dayjs-from-now '2019-07-11' }}</code></p>
<p>07 July 2019 => {{ dayjs-from-now '2019-07-11' }}</p>
