
<h3>dayjs-is-same</h3>
<p><code>\{{ dayjs-is-same date="2011-01-01" }}</code></p>
<p>{{ dayjs-is-same date="2011-01-01" }}</p>
<p><code>\{{ dayjs-is-same date="2021-01-01" }}</code></p>
<p>{{ dayjs-is-same date="2021-01-01" }}</p>
<p><code>\{{ dayjs-is-same date="2020-08-04" unit="month"}}</code></p>
<p>{{ dayjs-is-same date="2020-08-04" unit="month"}}</p>
<p><code>\{{ dayjs-is-same date="2020-01-04" unit="year"}}</code></p>
<p>{{ dayjs-is-same date="2020-01-04" unit="year"}}</p>
