<h2>dayjs-to</h2>
<h3>Time to X </h3>
<p><code>Today: \{{this.today}}  => \{{ dayjs-to this.today }}</code></p>
<p>Today: {{this.today}}  => {{ dayjs-to this.today }}</p>


<p><code>05 July 2020 => {{ dayjs-to '2020-07-05' }}</code></p>
<p>05 July 2020 => {{ dayjs-to '2020-07-05' }}</p>

<p><code>25 July 2020 => {{ dayjs-to '2020-07-25' }}</code></p>
<p>25 July 2020 => {{ dayjs-to '2020-07-25' }}</p>