<h3>dayjs-is-before</h3>
<p><code>\{{ dayjs-is-before date="2011-01-01" }}</code></p>
<p>{{ dayjs-is-before date="2011-01-01" }}</p>
<p><code>\{{ dayjs-is-before date=(dayjs-add amount=1 unit="y") }}</code></p>
<p>{{dayjs-add amount=1 unit="y"}} => {{ dayjs-is-before date=(dayjs-add amount=1 unit="y") }}</p>
<p><code>\{{ dayjs-is-before date="2020-08-04" unit="day"}}</code></p>
<p>{{ dayjs-is-before date="2021-08-04" unit="day"}}</p>
<p><code>\{{ dayjs-is-before date=(dayjs-add amount=2 unit="day")}}</code></p>
<p>{{ dayjs-is-before date=(dayjs-add amount=2 unit="day")}}</p>
