<h2>dayjs-diff</h2>
<h3>Difference</h3>
<p><code>Last week - Today => \{{ dayjs-diff from=this.lastWeek to=this.today unit='day'}} days</code></p>
<p>Last week - Today => {{ dayjs-diff from=this.lastWeek to=this.today unit='day'}} days</p>
<p><code>Next week - Today => \{{ dayjs-diff from=this.nextWeek to=this.today unit='day'}} days</code></p>
<p>Next week - Today => {{ dayjs-diff from=this.nextWeek to=this.today unit='day'}} days</p>
<p><code>Last month - Today => \{{ dayjs-diff from=this.lastMonth to=this.today unit='day'}} days</code></p>
<p>Last month - Today => {{ dayjs-diff from=this.lastMonth to=this.today unit='day'}} days</p>
<p><code>Next month - Today => \{{ dayjs-diff from=this.nextMonth to=this.today unit='day'}} days</code></p>
<p>Next month - Today => {{ dayjs-diff from=this.nextMonth to=this.today unit='day'}} days</p>
<p><code>Last year - Today => \{{ dayjs-diff from=this.lastYear to=this.today unit='month'}} months</code></p>
<p>Last year - Today => {{ dayjs-diff from=this.lastYear to=this.today unit='month'}} months</p>
<p><code>Next year - Today => \{{ dayjs-diff from=this.nextYear to=this.today unit='week'}} weeks</code></p>
<p>Next year - Today => {{ dayjs-diff from=this.nextYear to=this.today unit='week'}} weeks</p>