<h2>dayjs-calendar</h2>
<h3>Calendar </h3>
<p><code>Today: \{{this.today}}  => \{{ dayjs-calendar }}</code></p>
<p>Today: {{this.today}}  => {{ dayjs-calendar }}</p>

<p><code>Yesterday: \{{this.yesterday}} => \{{ dayjs-calendar this.yesterday }}</code></p>
<p>Yesterday: {{this.yesterday}} => {{ dayjs-calendar this.yesterday }}</p>

<p><code>Tomorrow: \{{this.tomorrow}} => \{{ dayjs-calendar this.tomorrow }}</code></p>
<p>Tomorrow: {{this.tomorrow}} => {{ dayjs-calendar this.tomorrow }}</p>


<p><code>Last week: \{{this.lastWeek}} => \{{ dayjs-calendar this.lastWeek }}</code></p>
<p>Last week: {{this.lastWeek}} => {{ dayjs-calendar this.lastWeek }}</p>


<p><code>Next week: \{{this.nextWeek}} => \{{ dayjs-calendar this.nextWeek }}</code></p>
<p>Next week: {{this.nextWeek}} => {{ dayjs-calendar this.nextWeek }}</p>

<p><code>Last month: \{{this.lastMonth}} => \{{ dayjs-calendar this.lastMonth }}</code></p>
<p>Last month: {{this.lastMonth}} => {{ dayjs-calendar this.lastMonth }}</p>


<p><code>Next month: \{{this.nextMonth}} => \{{ dayjs-calendar this.nextMonth }}</code></p>
<p>Next month: {{this.nextMonth}} => {{ dayjs-calendar this.nextMonth }}</p>


<p><code>Last year: \{{this.lastYear}} => \{{ dayjs-calendar this.lastYear }}</code></p>
<p>Last year: {{this.lastYear}} => {{ dayjs-calendar this.lastYear }}</p>
<p><code>Next year: \{{this.nextYear}} => \{{ dayjs-calendar this.nextYear }}</code></p>
<p>Next year: {{this.nextYear}} => {{ dayjs-calendar this.nextYear }}</p>