<h3>dayjs-weekday</h3>
<p><code>\{{dayjs-weekday }}</code></p>
<p>Today's week day => {{dayjs-weekday }}</p>
<p><code>\{{dayjs-weekday 0}}</code></p>
<p>First week day => {{dayjs-weekday 0}}</p>
<p><code>\{{dayjs-weekday -7}}</code></p>
<p>Last week day => {{dayjs-weekday -7}}</p>

<p><code>\{{dayjs-weekday 7}}</code></p>
<p>Next week day => {{dayjs-weekday 7}}</p>